body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://img.freepik.com/vector-premium/espacio-copia-fondo-estilo-comic-plano_52683-55012.jpg?semt=ais_hybrid);
    background-size: 1600px;
}
#get-pokemon{
    width: 100px;
    height: 100px;
    font-size: 18px;
    font-family: monospace;
    border-radius: 320px;
    background-image: url();
    gap: 50px;
}

#pokemon-select{
    height: 50px;
    width: 150px;
    margin-right: 40px;
    font-size: 18px;
    font-family: monospace;
    border-radius: 20px;
    
}

#get-pokemon:hover{
    transform: scale(1.5);  
}

h1{
    font-family: monospace;
    color: white;
    font-size: 45px;
    margin-left: 500px;
}

#logo{
   margin-left: 350px;
}


#info-pokemon{
    color: rgb(242, 237, 237); 
    font-family: monospace;
    margin-left: 650px;
    margin-top: 30px;
    display: flex;
   
}


.pokemon-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-pokemon{
   font-size: 22px;
   font-family:monospace;
   display: block; 
   
}

